body {
 background-image: url("https://vignette.wikia.nocookie.net/warrior-cat-clans/images/2/2d/Poisonheart.jpg/revision/latest?cb=20140517013744");
 background-color: #4169e1;
 background-attachment: fixed;
 background-repeat: no-repeat;
 cursor: url(http://cur.cursors-4u.net/anime/ani-10/ani947.cur) 25 15, auto;
}


#cat-collection{
max-width:70%;
max-height:70%;

}

.css_styling_div{
  max-width:50%;
  max-height:50%;

}



.form_css_styling{
 width: 70%;


}

#newDiv{

  width: 50%;
  border-radius: 15px;
  /* border: 2px solid white; */
  background-size:cover;

}

.img{
border: 3px solid white;
border-radius: 50px;
max-width:100%;
height:auto;
}

h1{
  text-align: left;
  color: #4169e1;
}
